* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    border: 1px solid blue;
    width: 90%;
    max-width: 40em;
    height: 11.25em;
    margin: auto;
    margin-top: 3.125em;
}


.contenedor{
    background-color: gray;
    height: 90%;
    width: 25%;
    margin-top: 0.1875em;
    margin-left: 10.625em;
    position: relative;
}


#circulo{
    background-color: red;
    height: 0.9375em;
    width: 0.9375em;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
}
