* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    border: 1px solid blue;
    width: 650px;
    height: 180px;
    margin: auto;
    margin-top: 50px;
}


.contenedor{
    background-color: gray;
    height: 90%;
    width: 25%;
    margin-top: 3px;
    margin-left: 170px;
    position: static;
}
    

#circulo{
    background-color: red;
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 100%;
    top: 14%;
    right: 53%;
}