* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-size: 16px;
    min-height: 100vh;
}

div{
    background-color: white;
    border: 1px solid black;
    margin: 15px auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    height: auto;
    min-height: 160px;
    box-sizing: border-box;
    text-align: left;
}

button {
    width: 100%;
    min-height: 30px;
    background-color: rgb(81, 81, 223);
    color: white;
    text-align: left;
    padding: 8px 10px;
    border: none;
    font-size: 1em;
}

header, footer{
    background-color: rgb(26, 22, 22);
    min-height: 60px;
    width: 100%;
}

main{
    min-height: calc(100vh - 120px);
    padding: 60px 0;
}

h4{
    text-align: center;
    padding-top: 20px;
    color: gray;
}

h1 {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: normal;
}

p {
    text-align: left;
    margin-bottom: 20px;
    color: #666;
}

footer p {
    color: white;
    text-align: center;
    padding-top: 20px;
}
