* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

div{
    background-color: white;
    border: 1px solid black;
    margin: 15px;
    padding: 30px 15px 20px;
    width: 80%;;
}

button{
    width: 100%;
    height: 30px;
    background-color: rgb(81, 81, 223);
    color: white;
    margin-top: 15px;
    
}

header, footer{
    background-color: rgb(26, 22, 22);
    height: 70px;
}

h4{
    text-align: center;
    padding-top: 25px;
    color: gray;
}